<main class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 order-md-2 order-lg-2 order-xl-2 travel-pic"></div>
      <div class="row col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <h1 class="col-12">Travel like you want</h1>    
        <article class="col-12 col-sm-12 col-md-6 col-lg-12 col-xl-12">
          <h2>Read</h2>
          <p>Read about my trips. Find cool destinations.</p>
          <a>Learn more</a>
        </article>
        <article class="col-12 col-sm-12 col-md-6 col-lg-12 col-xl-12">
          <h2>Plan</h2>
          <p>Plan your trip ASAP.</p>
          <a href="">Learn more</a>
        </article> 
      </div>
  </div>

  
</main>