<main class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 order-md-2 order-lg-2 order-xl-2 travel-pic"></div>
      <div class="row col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
        <span class="col-12 primary-text">See places you have never seen before</span>    
        <article class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 primary-article">
          <span class="link-header">Read</span>
          <p class="text-primary">Read about my trips. Find cool destinations.</p>
          <button type="button" class="btn btn-outline-primary">Learn more</button>
        </article>
        <article class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 primary-article">
          <span class="link-header">Plan</span>
          <p class="text-primary">Check some info about prices and currencies.</p>
          <button type="button" class="btn btn-outline-primary">Learn more</button>
        </article> 
      </div>
  </div>

  
</main>