@import '../../node_modules/@angular/material/theming';
@import './_variables.scss';
@include mat-core();


$custom-primary: mat-palette($mat-primary);
$custom-accent:  mat-palette($mat-secondary);
$custom-theme: mat-light-theme($custom-primary, $custom-accent);

@include angular-material-theme($custom-theme);