mat-toolbar{
    z-index: 10;
    section.logo{
        height: 70%;
        width: 2em;

        img{
            max-height: 100%;
            width: auto;
            display: block;
        }
    }

    ul {
        list-style: none;
        display: flex;
    
        li a {
          color: #fff;
          text-decoration: none;
          font-size: 0.9em;
          margin-left: 1em;
          border-left: 2px white solid;
          padding-left: 10px;
          display: inline-block;


          &::before{
            content: ' ';
            height: 10em;
            width: 2em;
            background-color: white;
          }
        }

    }

}