<form (ngSubmit)="onSubmit();" novalidate [formGroup]="contactForm">
  <div class="form-group">
    <label for="email">Email address</label>
    <input  type="text" 
            class="form-control" 
            placeholder="Enter email"
            formControlName="email"
            required>
    <div  class="invalid-feedback" 
          style="display:inline;"
          *ngIf="email.invalid && email.dirty"> 
      You have to put your mail here in order to get response.
  </div>
    <small id="emailHelp" class="form-text text-muted">
      I'll never share your email with anyone else.
    </small>
  </div>

  <div class="form-group">
    <label for="name">Name</label>
    <input  type="text" 
            class="form-control" 
            placeholder="Enter name"
            formControlName="name"
            required>
    <div  class="invalid-feedback" 
          style="display:inline;"
          *ngIf="name.invalid && name.dirty"> 
      Please tell me, what's your name.
    </div>
  </div>

  <div class="form-group">
    <label for="content">Content</label>
    <textarea   
            class="form-control" 
            placeholder="Enter your message here"
            formControlName="content"
            rows="5"
            required ></textarea>
    <div  class="invalid-feedback" 
          style="display:inline;"
          *ngIf="content.invalid && content.dirty"> 
      Your message has to be at least 10 characters long.
    </div>
  </div>
  <button [disabled]="!this.contactForm.valid" type='submit' class='btn btn-primary mb-5'>Submit</button>
</form>