<form (ngSubmit)="onSubmit()">
  <div class="form-group">
<h1>i gotta fix it :(</h1>
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" placeholder="Enter email" required
    name="email" >
    <div [hidden]="email.valid || email.pristine" class="invalid-feedback">Sorry, that username's taken. Try another?</div>
    <small id="emailHelp" class="form-text text-muted">I'll never share your email with anyone else.</small>
    
    <label>Name</label>
    <input type="text" class="form-control" id="name" placeholder="Enter your name" required>
    
  </div>
  <div class="form-group">
    <label>Write your message here</label>
    <textarea class="form-control" id="message" rows="3" required></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>