@import '../styles/variables';
main{
    min-height: 100%;
    position: relative;

    section{
        @include xl{
            margin: 0 12em 3em 12em;
        }
        @include lg{
            margin: 0 10em 3em 10em;
        }
        @include md{
            margin: 0 5em 2em 5em;
        }
        padding-bottom: 50px;
    }

    home-footer{
        position: absolute;
        bottom: 0;
        height: 50px;
    }
}